// colors
$primary-color-navyBlue : #2C2C54;
$secondary-color-purple1: #7D5FFF;
$secondary-color-purple2: #5F27CD;
$secondary-color-purple3: #9980FA;
$secondary-color-purple4: #E9E3FF;
$ash-color: #636e72;

// fonts
$fontfam-1: 'Poppins', sans-serif;

.add-appointment-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92vh; //change height accordingly
    position: relative;
    // background: rgb(248, 248, 248);
    // background: linear-gradient(106deg, rgba(153, 128, 250, 0.8715861344537815) 0%, rgba(255, 255, 255, 1) 100%);
    

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/appointment.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c54;
    opacity: 0.75;
    z-index: -1;
}

// form styles will go on here
.add-appointment-form-container {
    width: 950px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba($color: #000000, $alpha: .4),
    -5px -5px 8px rgba($color: #000000, $alpha: .4);
    padding: 20px;
}

.form-status-model {
    width: 500px;
    height: 50px;
    margin: 20px 0;
    border-radius: 10px;
    visibility: hidden;
}

.form-status-model.validation-success {
    /* From https://css.glass */
    background: rgba(46, 213, 115, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(46, 213, 115, 1);
    visibility: visible;
}

.form-status-model.validation-failed {
    /* From https://css.glass */
    background: rgba(255, 71, 87, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 71, 87, 1);
    visibility: visible;
}

.tagline-add-appointment{
    font-size: 30px;
    font-weight: 600;
    color: $secondary-color-purple1;
    padding-left: 20px;
}
// column container stylings

.column-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 530px;
}

.add-appointment-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    height: 500px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-title{
    text-transform: capitalize;
    color: $primary-color-navyBlue;
    font-weight: 600;
    color: $ash-color;
    font-size: 0.9em;
}

.appointment-input-field{
    width: 400px;
    font-size: 1em;
    padding: 10px 20px;
    outline: none;
    margin: 10px 0 15px 0;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.appointment-input-field:focus{
    border-color: $secondary-color-purple1;
}

.appointment-input-textarea{
    width: 400px;
    font-size: 16px;
    padding: 10px 20px;
    outline: none;
    margin: 10px 0 15px 0;
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 130px;
    resize: none;
}

.appointment-input-textarea:focus{
    border-color: $secondary-color-purple1;
}

.select-option{
   width: 350px;
   border: none;
}

.btn-container-add-appointment{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    width: 400px;
}

.make-appointment-btn{
    padding: 5px 50px;
    width: 200px;
    outline: none;
    border: 2px solid transparent;
    font-size: 18px;
    background-color: $secondary-color-purple1;
    color: white;
    border-radius: 10px;
    transition: .4s;
}

.reset-btn{
    padding: 5px 50px;
    width: 180px;
    outline: none;
    border: 2px solid $secondary-color-purple1;
    font-size: 18px;
    background-color: transparent;
    color: $secondary-color-purple1;
    border-radius: 10px;
    transition: .4s;
}

.make-appointment-btn:hover{
    cursor: pointer;
    // box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: .6);
}

.reset-btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: .6);
}
